include ../node_modules/bemto.jade/bemto

//
  <?php
  $utm_medium = '-';
  $utm_source = '-';
  $utm_campaign = '-';
  $utm_term = '-';
  $utm_content = '-';
  if (isset($_GET['utm_medium'])) {
    $utm_medium = $_GET['utm_medium'];
  }
  if (isset($_GET['utm_source'])) {
    $utm_source = $_GET['utm_source'];
  }
  if (isset($_GET['utm_campaign'])) {
    $utm_campaign = $_GET['utm_campaign'];
  }
  if (isset($_GET['utm_term'])) {
    $utm_term = $_GET['utm_term'];
  }
  if (isset($_GET['utm_content'])) {
    $utm_content = $_GET['utm_content'];
  }
  $url = $_SERVER['HTTP_HOST'].$_SERVER['PHP_SELF'];
  $utm =  $_SERVER["QUERY_STRING"];
  ?>

<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Технический паспорт за 7 дней!

  link(rel="icon" href="img/favicon.ico" type="image/x-icon")
  link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
  link(rel='apple-touch-icon', sizes='180x180', href='img/apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
  //- link(rel='manifest', href='img/site.webmanifest')
  link(rel='mask-icon', href='img/safari-pinned-tab.svg', color='#5bbad5')
  meta(name='msapplication-TileColor', content='#da532c')
  meta(name='theme-color', content='#ffffff')



  //build:css css/all.css
  link(rel="stylesheet", href="node_modules/animate.css/animate.min.css")
  link(rel="stylesheet", href="tmp/index.css")
  //endbuild
body.page
  .loader.loader_active
    .loader__spinner
    .loader__text Загрузка
  .loader.loader_submit
    .loader__spinner
    .loader__text Обработка...
  .top
    .container
      .row
        +b.col._lg_4._md_4._sm_5._xs_6
          +b.logo
            +e.img
              img(src='img/logo.png')
            +e.text ПРОЕКТНО-СТРОИТЕЛЬНАЯ<br>КОМПАНИЯ
        +b.col._lg_4._lg-offset_4._md_5._md-offset_3._sm_7._xs_6
          +b.phone-grup 
            +e.phone 8 (863) 303-38-33
            +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
          +b.callme Заказать звонок
  .header
    .container
      .offer 
        .offer__text.start-animate <span>Технический паспорт за 7 дней! </span><br> в Ростове-на-Дону и Ростовской области
        .offer__action.order.start-animate(style="animation-delay: .2s") Получить бесплатную консультацию

  .froze
    .container
      .froze__container
        .froze__action ЗАПИШИТЕСЬ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ СПЕЦИАЛИСТА ПО ОФОРМЛЕНИЮ ДОКУМЕНТОВ
        .froze__description Заполните форму, и специалист свяжется с Вами в течение 20 минут
        +b.form
          form.ajax
            input(placeholder='Введите Ваше имя' name='name').input.input_type_name
            input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
            |<input type="hidden" name="url" value="<?echo $url?>"/>
            |<input type="hidden" name="utm" value="<?echo $utm?>"/>
            |<input type="hidden" name="utm_term" value="<?echo $utm_term?>"/>
            |<input type="hidden" name="utm_campaign" value="<?echo $utm_campaign?>"/>
            |<input type="hidden" name="utm_source" value="<?echo $utm_source?>"/>
            |<input type="hidden" name="utm_medium" value="<?echo $utm_medium?>"/>
            |<input type="hidden" name="utm_content" value="<?echo $utm_content?>"/>
            input(type="hidden" name="order" value="Технический паспорт. Консультация по документам")
            input(type='submit' value='Получить консультацию по документам').form__btn


  .triggers
    .container
      .row
        +b.col._lg_3._md_3._sm_6._xs_6
          .triggers__items.start-animate
            img(src='img/triggers__img1.png').triggers__img
            .triggers__text Опыт работы<br>более 6 лет
        +b.col._lg_3._md_3._sm_6._xs_6
          .triggers__items(style="animation-delay: .2s").start-animate
            img(src='img/triggers__img5.png').triggers__img
            .triggers__text Изготавливаем <br>за 7 дней
        +b.col._lg_3._md_3._sm_6._xs_6
          .triggers__items(style="animation-delay: .3s").start-animate
            img(src='img/triggers__img4.png').triggers__img
            .triggers__text На уровне <br>“первого кирпича”
        +b.col._lg_3._md_3._sm_6._xs_6
          .triggers__items(style="animation-delay: .4s").start-animate
            img(src='img/triggers__img2.png').triggers__img
            .triggers__text Вносим корректировки <br>бесплатно
  .container
    +b.title
      +e.wrap
        +e.text Процесс изготовления технического паспорта
    +b.tabs
      +e.item
        +e.title
          +e.number 1
          |Выезд кадастрового инженера, обследование

      +e.item
        +e.title
          +e.number 2
          |Отрисовка, создание технического паспорта

      +e.item
        +e.title
          +e.number 3
          |Согласование с компетентными органами

  .docs
    .container
      +b.title
        +e.wrap
          +e.text Какие документы понадобятся?
      .row
        +b.col_lg_12
          //- .docs__title Документы, изготавливаемые ООО «БК Инвент»
          ol.docs__list
            li Правоустанавливающие документы на земельный участок и объект недвижимости (свидетельство на право собственности или выписка из ЕГРП)
            li Документ-основание (договор купли-продажи, договор дарения и т.д.)
            li Паспорт, ИНН
            li Копия технического паспорта (при наличии)

        //- +b.col_lg_5
        //-   +b.wall._docs
        //-     //- +e.title Получить перечень необходимых документов для предоставления ООО «БК Инвент»
        //-     +e.title Перечень документов, которые нужны от Вас
        //-     +b.form
        //-       //- input(placeholder='Введите Ваше имя').input.input_type_name
        //-       //- input(placeholder='Введите Ваш телефон').input.input_type_phone
        //-       //- input(placeholder='Введите Ваш E-mail').input.input_type_email
        //-       //- +e.btn Скачать документ
        //-       form.ajax
        //-         input(placeholder='Введите Ваше имя' name='name').input.input_type_name
        //-         input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
        //-         input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
        //-         input(type="hidden" name="download" value="...")
        //-         input(type="hidden" name="order" value="ВК под ключ")
        //-         input(type='submit' value='Получить список документов').form__btn
    //-+b.btn_style_blue Оставить заявку на консультацию инженера

  .reviews
    .container
      .row
        +b.col._lg_6._md_6._sm_12._xs_12
          .reviews__title Технический паспорт содержит в себе <br>следующую информацию:
          ul
            li Поэтажный план помещения;
            li Инвентаризационную стоимость квартиры;
            li Материалы, из которых изготовлены стены;
            li Характеристика фундамента и перекрытий;
            li Дата постройки жилья;
            li Количество комнат;
            li Метраж и т. д.

        +b.col._lg_6._md_6._sm_12._xs_12
          .reviews__title Для чего нужен технический паспорт?
          ol
            li Если вы покупаете жилье в ипотеку, банку может потребоваться технический паспорт на квартиру, для того чтобы сформировать рыночную цену на жилье.
            li Для оформления инженерных сетей (водоснабжение, канализация, газификация, электричество и т.д.)
            li В случаях установления размера налога на квартиру.
            li Для совершения сделок по отчуждению квартиры.
            li Для согласования перепланировки.
            li При выделении доли в натуре в долевой собственности.
            li При оформлении наследства.

    //-.container
      div(style="text-align: center;max-width: 1040px;margin: auto;")
        +b.zoom(data-img="case1.jpg")
          img(src="img/case1_mini.jpg")
          +e.icon
          .reviews__text Прокладка водоотведения,<br> г.Ростов-на-Дону,<br>ул. Профсоюзная, 29
        +b.zoom(data-img="case2.jpg")
          img(src="img/case2_mini.jpg")
          +e.icon
          .reviews__text Прокладка водоснабжения, <br>г.Ростов-на-Дону,<br> ул. Республиканская, 181
        +b.zoom(data-img="case3.jpg")
          img(src="img/case3_mini.jpg")
          +e.icon
          .reviews__text Прокладка водоотведения,<br> г.Ростов-на-Дону, <br>ул. Мильчакова, 83
        //- +b.zoom(data-img="case4.jpg")
        //-   img(src="img/case4_mini.jpg")
        //-   +e.icon
        +b.zoom(data-img="case5.jpg")
          img(src="img/case5_mini.jpg")
          +e.icon
          .reviews__text Прокладка водовода, <br>ул. Скачкова, ЖК Акварель
        //- +b.zoom(data-img="case6.jpg")
        //-   img(src="img/case6_mini.jpg")
        //-   +e.icon
          
        +b.zoom(data-img="case7.jpg")
          img(src="img/case7_mini.jpg")
          +e.icon
          .reviews__text Устройство канализации,<br>ул.Неклиновская, 18
        +b.zoom(data-img="case8.jpg")
          img(src="img/case8_mini.jpg")
          +e.icon
          .reviews__text Устройство водопровода, <br>ЖК Военвед Сити
        //- +b.zoom(data-img="case9.jpg")
        //-   img(src="img/case9_mini.jpg")
        //-   +e.icon
        +b.zoom(data-img="case10.jpg")
          img(src="img/case10_mini.jpg")
          +e.icon
          .reviews__text  Врезка в трубу диаметром<br> 300 под давлением, <br>ул. Витебская, 12
        +b.zoom(data-img="case11.jpg")
          img(src="img/case11_mini.jpg")
          +e.icon
          .reviews__text Устройство водопровода, <br>ул. Пескова, 87 убрать
        //- +b.zoom(data-img="case12.jpg")
        //-   img(src="img/case12_mini.jpg")
        //-   +e.icon
          
        //- +b.zoom(data-img="case13.jpg")
        //-   img(src="img/case13_mini.jpg")
        //-   +e.icon
        //- +b.zoom(data-img="case14.jpg")
        //-   img(src="img/case14_mini.jpg")
        //-   +e.icon
        //- +b.zoom(data-img="case15.jpg")
        //-   img(src="img/case15_mini.jpg")
        //-   +e.icon 
      //-   +b.col._xs_12._md_10._md-offset_1
      //-     .slider
      //-       .reviews__gallery
      //-         .row
      //-           +b.col._xs_12._sm_6
      //-             .reviews__img
      //-                 img(src="img/case1_mini.jpg")
      //-             .reviews__imgs
      //-           +b.col._xs_12._sm_6
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="img/case2_mini.jpg")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="img/case3_mini.jpg")
      //-             .reviews__img
      //-                 img(src="http://placehold.it/500x250")
      //-       .reviews__gallery
      //-         .row
      //-           +b.col._xs_12._sm_6
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-             .reviews__img
      //-                 img(src="http://placehold.it/500x205")
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-           +b.col._xs_12._sm_6
      //-             .reviews__imgs
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-               .reviews__img.reviews__img_size_small
      //-                 img(src="http://placehold.it/500x250")
      //-             .reviews__img
      //-                 img(src="http://placehold.it/500x250")
                //- +b.col._xs_12._md_6
                //-   .reviews__name Алина Евсеева
                //-   .reviews__text Я обращалась в компанию БК Инвент для того, чтобы подключить канализацию в дом. Уже сейчас пользуюсь ею, чему очень рада. Долго не могла найти общий язык с Водоканалом, а обратившись в организацию БК Инвент, все мои вопросы были решены за 3 месяца, и построили, и сдали. Теперь мне не приходится как большинству моих соседей пользоваться ямой. Рекомендую обращаться в эту организацию!!!
  
  //- .container
  //-   +b.title
  //-     +e.wrap
  //-       +e.text Допуски СРО
  //-   .row#doc
  //-     +b.col._xs_6._sm_3
  //-       +b.zoom(style="animation-delay: .2s" data-img="doc1_big.jpg").l.start-animate
  //-         img(src="img/doc1.jpg")
  //-         +e.icon
  //-     +b.col._xs_6._sm_3
  //-       +b.zoom.l.start-animate(data-img="doc2_big.jpg")
  //-         img(src="img/doc2.jpg")
  //-         +e.icon
  //-     +b.col._xs_6._sm_3
  //-       +b.zoom.r.start-animate(data-img="doc3_big.jpg")
  //-         img(src="img/doc3.jpg")
  //-         +e.icon
  //-     +b.col._xs_6._sm_3
  //-       +b.zoom(style="animation-delay: .2s" data-img="doc4_big.jpg").r.start-animate
  //-           img(src="img/doc4.jpg")
  //-           +e.icon

  .container
    +b.title
      +e.wrap
        +e.text Наши партнеры
    +b.logos
      +e.grup
        img(src="img/logo1.jpg")
        img(src="img/logo2.jpg")
        img(src="img/logo3.jpg")
        img(src="img/logo4.jpg")
        img(src="img/logo5.jpg")
        img(src="img/logo6.jpg")
        img(src="img/logo7.jpg")
        img(src="img/logo8.jpg")
        img(src="img/logo9.jpg")
  .froze
    .container
      .froze__container
        .froze__action ЗАПИШИТЕСЬ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ СПЕЦИАЛИСТА ПО ОФОРМЛЕНИЮ ДОКУМЕНТОВ
        .froze__description Заполните форму, и специалист свяжется с Вами в течение 20 минут
        +b.form
          form.ajax
            input(placeholder='Введите Ваше имя' name='name').input.input_type_name
            input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
            |<input type="hidden" name="url" value="<?echo $url?>"/>
            |<input type="hidden" name="utm" value="<?echo $utm?>"/>
            |<input type="hidden" name="utm_term" value="<?echo $utm_term?>"/>
            |<input type="hidden" name="utm_campaign" value="<?echo $utm_campaign?>"/>
            |<input type="hidden" name="utm_source" value="<?echo $utm_source?>"/>
            |<input type="hidden" name="utm_medium" value="<?echo $utm_medium?>"/>
            |<input type="hidden" name="utm_content" value="<?echo $utm_content?>"/>
            input(type="hidden" name="order" value="Технический паспорт. Консультация по документам")
            input(type='submit' value='Получить консультацию по документам').form__btn

  .container
    +b.title
      +e.wrap
        +e.text Cхема работы
    .scheme#scheme
      .row
        +b.col.col_lg_3
          .scheme__item.scheme__item_step_1.start-animate
            .scheme__title Заявка
            .scheme__text Вы оставляете заявку или звоните нам по телефону
            .btn.btn_style_small.order Оставить заявку
        +b.col._lg_5
          .scheme__item.scheme__item_step_3(style="animation-delay: 1s").start-animate
            .scheme__title Заключение подрядного договора
            .scheme__text Мы формируем коммерческое предложение и составляем договор подряда

        +b.col._lg_3._lg-offset_1
          .scheme__item.scheme__item_step_5(style="animation-delay: 2s").start-animate
            .scheme__title Осуществление работ
            .scheme__text Предоставляем вам согласованный технический паспорт БТИ
      .scheme__progress-bar
      .row
        +b.col._lg_5
          .scheme__item.scheme__item_step_2(style="animation-delay: .5s").start-animate
            .scheme__title Бесплатное обследование объекта
            .scheme__text Мы отправляем главного инженера на объект для выяснения подробностей
        +b.col._lg_4._lg-offset_1
          .scheme__item.scheme__item_step_4(style="animation-delay: 1.5s").start-animate
            .scheme__title Предоставление документов
            .scheme__text Вы предоставляете нам все необходимые документы
        

    .scheme.scheme_mod_1
      .row
        +b.col._sm_6
          .scheme__item.scheme__item_step_1
            .scheme__title Заявка
            .scheme__text Вы оставляете заявку или звоните нам по телефону
            .btn.btn_style_small.order Оставить заявку
        +b.col._sm_6
          .scheme__item.scheme__item_step_2
            .scheme__title Бесплатное обследование объекта
            .scheme__text Мы отправляем главного инженера на объект для выяснения подробностей
        +b.col._sm_6
          .scheme__item.scheme__item_step_3
            .scheme__title Заключение подрядного договора
            .scheme__text Мы формируем коммерческое предложение и составляем договор подряда
        +b.col._sm_6
          .scheme__item.scheme__item_step_4
            .scheme__title Предоставление документов
            .scheme__text Вы предоставляете нам все необходимые документы

        +b.col._sm_6
          .scheme__item.scheme__item_step_5
            .scheme__title Осуществление работ
            .scheme__text Предоставляем вам согласованный технический паспорт БТИ
  

  .questions
    .questions__title У вас остались вопросы?
    | Задайте их нашему специалисту!
  .btn.order Получить бесплатную консультацию
  .map#map
  .footer
    .container
      .row
        +b.col_sm_4
          .footer__contact.footer__contact_type_adress Ростове-на-Дону,<br>ул. Текучева, 23, эт. 3
        +b.col_sm_4
          .footer__contact.footer__contact_type_call
            +b.phone-grup._footer 
              +e.phone 8 (863) 303-38-33
              +e.text Пн.- пт. с 9:00 до 18:00<br>Сб. с 10:00 до 16:00
        +b.col_sm_4
          .footer__contact.footer__contact_type_mail order@bk-invent.ru


  .modal#modal__callme
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Наши менеджеры свяжутся с Вами в ближайшее время
            +b.form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                |<input type="hidden" name="url" value="<?echo $url?>"/>
                |<input type="hidden" name="utm" value="<?echo $utm?>"/>
                |<input type="hidden" name="utm_term" value="<?echo $utm_term?>"/>
                |<input type="hidden" name="utm_campaign" value="<?echo $utm_campaign?>"/>
                |<input type="hidden" name="utm_source" value="<?echo $utm_source?>"/>
                |<input type="hidden" name="utm_medium" value="<?echo $utm_medium?>"/>
                |<input type="hidden" name="utm_content" value="<?echo $utm_content?>"/>
                input(type="hidden" name="order" value="Технический паспорт. Заказ звонка")
                input(type='submit' value='Заказать звонок').form__btn

  .modal#modal__order
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Получить бесплатную консультацию
            +b.form
              form.ajax
                input(placeholder='Введите Ваше имя' name='name').input.input_type_name
                input(placeholder='Введите Ваш телефон' name='phone').input.input_type_phone
                input(placeholder='Введите Ваш E-mail' name='email').input.input_type_email
                |<input type="hidden" name="url" value="<?echo $url?>"/>
                |<input type="hidden" name="utm" value="<?echo $utm?>"/>
                |<input type="hidden" name="utm_term" value="<?echo $utm_term?>"/>
                |<input type="hidden" name="utm_campaign" value="<?echo $utm_campaign?>"/>
                |<input type="hidden" name="utm_source" value="<?echo $utm_source?>"/>
                |<input type="hidden" name="utm_medium" value="<?echo $utm_medium?>"/>
                |<input type="hidden" name="utm_content" value="<?echo $utm_content?>"/>
                input(type="hidden" name="order" value="Технический паспорт. Консультация")
                input(type='submit' value='Отправить').form__btn

  .modal#modal__ok
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title <b>Ваша заявка принята</b> <br>Наш специалист свяжется с вами в течении 20 минут

  .modal#modal__download
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            .modal__title Документы можно скачать по ссылке
            a(href="http://lp.bk-invent.ru/docs.pdf" target="_blank").btn Скачать

  .modal.modal_type_zoom#modal__zoom
    .modal__wrapper
        .modal__dialog
            .close.modal__close
            img(src="")#zoom__img

  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  //build:js js/all.js
  script(src="node_modules/jquery/dist/jquery.min.js")
  script(src="node_modules/waypoints/lib/jquery.waypoints.min.js")
  //- script(src="node_modules/bxslider/dist/jquery.bxslider.min.js")
  script(src="node_modules/jquery-validation/dist/jquery.validate.min.js")
  script(src="tmp/index.js")
  //endbuild
  script(type='text/javascript').
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(51918635, "init", {
    id:51918635,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
    });
  noscript
    div
      img(src='https://mc.yandex.ru/watch/51918635', style='position:absolute; left:-9999px;', alt='')
